
<!-- ACCT INFO PAGE  -->
<!DOCTYPE html>
<html lang='en'>
    <head>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">  <!-- required to handle IE -->
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
    </head>
    <body>
        <!-- includes the header -->
        <app-header></app-header>
        <!-- User Information form -->
        <div class="main-page-area">
            <div class='profile-container1'>
                <form #userForm="ngForm" (ngSubmit)="onUsernameSubmit(userForm.value)">
                    <h1> Update Account Information </h1>                
                    <div class="row g-3 align-items-end">
                                <label for="username">Username:</label>
                                <input type="text"
                                required minlength="2"
                                #username="ngModel"
                                [class.is-invalid]="(username.invalid && username.touched)"
                                class="form-control is-invalid" [(ngModel)]="userModel.username"
                                name="username"> 
                                <small class="text-danger" [class.d-none]="username.valid || username.untouched">
                                Please enter your current username.
                                </small> 
                    </div>
                    <div class="row g-3 align-items-end">
                        <button id="changeUsernameSubmit" class="btn profile-button"type="submit"
                        [disabled]="!userForm.form.valid"
                        (click)="changeUser(userForm.value)"
                        title="always enabled"
                        name="btn" value="placeorder">
                        Confirm User
                        </button>
                    </div>
                </form>
                <form *ngIf="toggle" #changeUserForm="ngForm" (ngSubmit)="onChangeUserSubmit(changeUserForm.value)">
                        <div class="row g-3 align-items-end" [style.display]="'none'">
                            <label for="username">Username:</label>
                            <input type="text"
                            required minlength="2"
                            #username="ngModel"
                            [class.is-invalid]="(username.invalid && username.touched)"
                            class="form-control is-invalid" [(ngModel)]="userModel.username"
                            name="username" > 
                            <small class="text-danger" [class.d-none]="username.valid || username.untouched">
                            Please enter your current username.
                            </small> 
                        </div>
                        <div class="row g-3 align-items-end">
                                <label for="firstname">New First Name:</label>
                                <input type="text"
                                required minlength="2"
                                #firstname="ngModel"
                                [class.is-invalid]="(firstname.invalid && firstname.touched)"
                                class="form-control is-invalid" [(ngModel)]="userModel.firstname"
                                name="firstname">
                                <small class="text-danger" [class.d-none]="firstname.valid || firstname.untouched">
                                Name is required and must be at least 2 characters.
                                </small>                            
                        </div>
                        <div class="row g-3 align-items-end">
                                <label for="lastname">New Last Name:</label>
                                <input type="text"
                                required minlength="2"
                                #lastname="ngModel"
                                [class.is-invalid]="(lastname.invalid && lastname.touched)"
                                class="form-control is-invalid" [(ngModel)]="userModel.lastname"
                                name="lastname">   <!-- note: we don't use autofocus here. Why? -->
                                <small class="text-danger" [class.d-none]="lastname.valid || lastname.untouched">
                                Last name is required and must be at least 2 characters.
                                </small>  
                        </div>
                        <div class="row g-3 align-items-center">
                                <label for="email">New Email</label>
                                <input type="email" class="form-control" required
                                #email="ngModel"
                                pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                                [class.is-invalid]="email.invalid && email.touched"
                                [(ngModel)]="userModel.email" name="email">
                                <small class="text-danger" [class.d-none]="email.valid || email.untouched">Email is required and must be in proper format</small>
                        </div>
                        <div class="row g-3 align-items-end">
                            <button id="changeUserSubmit" class="btn profile-button"type="submit"
                            [disabled]="!userForm.form.valid"
                            (click)="onChangeUserSubmit(changeUserForm.value)"
                            title="always enabled"
                            name="btn" value="placeorder">
                            Change Info
                            </button>
                        </div>
                        <div [ngSwitch]="message" > <!-- theyre really ugly don't hate me-->
                            <div *ngSwitchCase="'confirm'"
                            [style.text-align]="'center'" [style.color]="'white'" 
                            [style.margin]="'auto'" [style.background]="'lightgreen'" [style.width]="'50%'"
                            > <strong>Update Confirmed</strong></div>
                            
                            <div *ngSwitchCase="'fail'"
                            [style.text-align]="'center'" [style.color]="'white'" 
                            [style.margin]="'auto'" [style.background]="'lightpink'" [style.width]="'50%'"
                            ><strong>Update Failed</strong></div> 
                            
                            <div *ngSwitchDefault></div>
                        </div>
                </form>
            </div>
            <!-- <p> {{responsedata | json}} </p>
            <p> {{username.value}}</p> -->
            <!-- <p> {{updateinfo | json}}</p> -->
            <!-- <p> {{userForm.value | json}}</p> -->

        </div>
    </body>
    

    <!-- Bootstrap and JQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
</html>

