
/* COLORS
blue: #059abb
red: #E03E52
yellow/orange: #FFAE4B;
*/

/* GENERAL */
html, body{
  height: 100%;
}
.main-page-area{
  padding: 20px;
}
a {
  text-decoration: none !important;
  color: inherit;
}
a:hover {
  color: inherit;
}



/* NAVIGATION BAR */
#header-search{
  background-color: white;
}
.navbar-toggler-icon{
  color: white;
}
.navbar-brand{
  color: white;
  font-weight: bold;
  margin: auto;
}
.navbar-logo{
  width: 40px;
}
.navbar {
  background-color:  #E03E52;
}


/* REGISTER AND LOGIN PAGES */
#register-page, #login-page{
  background-color:  #E03E52;
  height: 100%;
}
.form-signin {
  background-color: white;
  padding: 60px 20px;
  width: 90%;
  max-width: 500px;
  margin: auto;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.form-signin  button{
  background-color: #E03E52;
  border: none;
}
.form-signin button:hover{
  background-color: #FFAE4B;
}
.logo-img {
  /* border: 5px solid blue; */
  width: 100%;
  margin: -20px auto 0px auto;
  align-self: center;
}
.logo-img-container{
  /* border: 5px solid #C5283DEB; */
  margin: 0px auto 0px auto;
  max-width: 150px;
}
.showPassword{
  padding: 5px;
  text-align: center;
}
form > h1{
  text-align: center;
  color: black;
}
form > .row {
  margin: 20px auto;
  max-width: 400px
}
form > .col {
  margin: 0px;
}
@media screen and (min-width: 576px) {
  .active-header-btn, .inactive-header-btn {
    border-radius: 25px;
    padding: 5px 10px;
    border: 3px solid white;
    font-weight: bold;
    margin: 5px;
  }
  .active-header-btn{
    background-color: white;
    color: #E03E52;
    margin-left: 10px;
  }
  .inactive-header-btn{
    color: white;
    background-color: #E03E52;
  }
}
@media screen and (max-width: 576px) {
  .active-header-btn, .inactive-header-btn {
    color: white;
    text-align: center;
    width: 100%;
  }
  .nav-item{
    padding: 10px 0px;
    width: 100%;
    text-align: center;
  }
  .nav-item:hover{
    background-color: #dc5668;
    color: white;
  }
}


/* SEARCH */
.search-result{
  padding: 10px;
}
.search-results{
  border: 1px solid grey;
}
.search-result-title{
  display: inline-block;
}
.search-result-type{
  color: grey;
  margin: 0px 5px;
  display: inline-block;
}
.search-result-description{
  width: 100%;
}
.search-result:nth-child(even){
  background-color:  #efefef;
}
.add-list-img{
  width: 30px;
  height: 30px;
  color: grey;
}
.add-to-list{
  display: inline;
  float: right;
  margin-right: 10px;
}


/* PROFILE */
.profile-container1{
  padding: 10px 50px;
  margin-top: 10px;
}
.profile-container2{
  background-color: #efefef;
  width: 90%;
  padding: 10px;
  margin: auto;

}
#profile-friends{
  display: none;
  border: 1px solid grey;
  padding: 5px;
}
.friend-row:nth-child(even){
  background-color:  white;
}


/* BROWSE */
.page-title{
  padding-left: 20px;
}
.list-title{
  padding-left: 20px;
}


.owl-nav{
  margin: 5px !important;
}
.owl-prev {
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 15px;

}

.owl-next {
    position: absolute;
    right: 0;
    top: 0;
    height: 100px;
    width: 15px;
}

.owl-carousel {
  padding: 0px 20px
}

