/* -- Ally Branch (aab4ad) and Leigh Striffler (lss4de) */

/* Contains CSS Rules used throughout the application */

/* COLORS
  blue: #059abb
  red: #E03E52
  yellow/orange: #FFAE4B;
*/

/* GENERAL */
html, body{
  height: 100%;
}
.main-page-area{
  padding: 20px;
}
a {
  text-decoration: none !important;
  color: inherit;
}
a:hover {
  color: inherit;
}


/* NAVIGATION BAR */
.navbar-toggler-icon{
  color: white;
}
.navbar-brand{
  color: white;
  font-weight: bold;
  margin: auto;
}
.navbar-logo{
  width: 40px;
}
.navbar {
  background-color:  #E03E52;
}
#search-button{
  background-color: #059abb;
  color: white;
  margin-right: 30px;
}
#search-button:hover{
  color:black;
}

/* REGISTER AND LOGIN PAGES */
#register-page, #login-page{
  background-color:  #E03E52;
  height: 100%;
}
.form-signin {
  background-color: white;
  padding: 60px 20px;
  width: 90%;
  max-width: 500px;
  margin: auto;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.form-signin button{
  background-color: #E03E52;
  border: none;
}
.form-signin button:hover{
  background-color: #FFAE4B;
}
.logo-img {
  width: 100%;
  margin: -20px auto 0px auto;
  align-self: center;
}
.logo-img-container{
  margin: 0px auto 0px auto;
  max-width: 150px;
}
.showPassword{
  padding: 5px;
  text-align: center;
}
form > h1{
  text-align: center;
  color: black;
}
form > .row {
  margin: 20px auto;
  max-width: 400px
}
form > .col {
  margin: 0px;
}
#pwdinstr{
  display:none;
  background:lightblue;
  border: solid, lightblue;
}
.error  {
  display: block;
  font-style: italic;
  color: red;
}
#pwditems{
  text-align: center;
  list-style-position:inside;
}
#errorm{
  display:none;
  background:lightpink;
  border: solid,red;
}


/* REGISTER AND LOGIN HEADER */
/* Medium / Large Screens -- show buttons on the right*/
@media screen and (min-width: 576px) {
  .active-header-btn, .inactive-header-btn {
    border-radius: 25px;
    padding: 5px 10px;
    border: 3px solid white;
    font-weight: bold;
    margin: 5px;
  }
  .active-header-btn{
    background-color: white;
    color: #E03E52;
    margin-left: 10px;
  }
  .inactive-header-btn{
    color: white;
    background-color: #E03E52;
  }
}
/* Small Screens -- collapsed header */
@media screen and (max-width: 576px) {
  .active-header-btn, .inactive-header-btn {
    color: white;
    text-align: center;
    width: 100%;
  }
  .nav-item{
    padding: 10px 0px;
    width: 100%;
    text-align: center;
  }
  .nav-item:hover{
    background-color: #dc5668;
    color: white;
  }
}

/* SEARCH */
.search-result{
  padding: 10px;
}
.search-results{
  border: 1px solid grey;
}
.search-result-title{
  display: inline-block;
}
.search-result-type{
  color: grey;
  margin: 0px 5px;
  display: inline-block;
}
.search-result:nth-child(even){
  background-color:  #efefef;
}
.add-list-img{
  width: 24px;
  height: 24px;
}
.add-to-list{
  display: inline;
  float: right;
  margin-right: 10px;
  color: white;
  border: none;
  background-color:  #FFAE4B;
  border-radius: 20px;
  padding: 5px 10px;
  font-weight: bold;
}
.add-to-list:hover{
  box-shadow: 2px 2px 2px #888888;
}
.rating{
  display: inline-flex;
}

/* ACCOUNT INFO */
#loginform > .row{
  max-width: 500px;
}
.col-3{
  padding-left: 0px;;
}


/* PROFILE */
.profile-container1{
  padding: 10px 50px;
  margin-top: 10px;
}
.profile-container2{
  background-color: #efefef;
  width: 95%;
  padding: 10px;
  margin: auto;
}
.friend-row:nth-child(even){
  background-color:  white;
}
#profile-title{
  display: inline-block;
  padding-left: 15px;
}
#profile-friends{
  display: none;
  margin-left: 15px;
}
#profile-friends-list{
  border: 1px solid grey;
}
#new-list-button{
  float:right;
  color: white;
  border: none;
  background-color:  #FFAE4B;
  border-radius: 20px;
  padding: 5px 10px;
  font-weight: bold;
  margin: 5px;
}
#new-friend-button{
  float:right;
  color: white;
  border: none;
  background-color:  #FFAE4B;
  border-radius: 20px;
  padding: 5px 10px;
  font-weight: bold;
  display: none;
}
#add-friend-form{
  display: none;
}
.profile-button{
    color: white;
    border: none;
    background-color: #059abb;
    border-radius: 10px;
    padding: 5px 10px;
    font-weight: bold;
}
.profile-buttons{
  width: 95%;
  margin: auto;
}
.add-friend-btn{
  color: white;
  border: none;
  background-color: #E03E52;
  border-radius: 10px;
  padding: 5px 10px;
  font-weight: bold;
}
#add-friend-form > .row {
  margin: 0px;
  max-width: 400px;
  padding: 10px 0px;
}
#add-friend-form > .row > .col {
  margin: 0px;
  max-width: 400px;
  padding: 0px 5px 0px 0px;
}


/* BROWSE */
.flip-card {
  background-color: transparent;
  perspective: 1000px;
  height: 115px;
}
.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.7s;
  transform-style: preserve-3d;
}
.flip-card:hover .flip-card-inner {
  transform: rotatey(-180deg);
}
.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}
.flip-card-back {
  color: white;
  transform: rotateY(180deg);
  padding: 5px;
  background-color: #059abb;
}
.page-title{
  padding-left: 20px;
}
.list-title{
  padding-left: 20px;
}
.owl-nav{
  margin: 5px !important;
}
.owl-prev {
    position: absolute;
    top: 0;
    left: 0;
    height: 100px;
    width: 15px;
}
.owl-next {
    position: absolute;
    right: 0;
    top: 0;
    height: 100px;
    width: 15px;
}
.owl-carousel {
  padding: 0px 20px
}
